@model IEnumerable<MechanicHelper.Models.Car>

@{
    ViewData["Title"] = "Main Page";
}

<h1>Look at this cars</h1>
<p>Select a car for repair</p>

<div class="container m-3 border border-primary">
    <div class="row m-3">
        @foreach (var car in Model)
        {
            <div class="col-4">
                <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.CarId">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-title">Make: @car.Make @car.Model</p>
                            <p class="card-text">Built: @car.Built</p>
                            <p class="card-text">Distance: @car.Distance</p>
                            <p class="card-text">Num of problems: @car.Problems.Count</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>